<h2>Student Profile</h2>

<form [formGroup]="profileForm" (ngSubmit)="submit()">

  <label>Name</label>

  <input type="text" formControlName="name">

  <div class="error"
       *ngIf="profileForm.controls.name.invalid && profileForm.controls.name.touched">
    Name is required
  </div>

  <br>

  <label>Email</label>

  <input type="email" formControlName="email">

  <div class="error"
       *ngIf="profileForm.controls.email.invalid && profileForm.controls.email.touched">
    Enter a valid email
  </div>

  <br>

  <label>Semester</label>

  <input type="number" formControlName="semester">

  <div class="error"
       *ngIf="profileForm.controls.semester.invalid && profileForm.controls.semester.touched">
    Semester must be between 1 and 8
  </div>

  <br><br>

  <button
    type="submit"
    [disabled]="profileForm.invalid">
    Submit
  </button>

</form>